[submodule "ldm"]
	path = ldm
	url = git@github.com:emcoglab/ldm-core.git
[submodule "sm"]
	path = sm
	url = git@github.com:emcoglab/sensorimotor-norms.git
[submodule "category_production"]
	path = category_production
	url = git@github.com:emcoglab/category_production.git
